@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #674baf;
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  body {
    overflow: hidden;
    width: 100%;
    height: auto;
    background-image: url("../../images/bg-desktop.svg");
    background-size: cover;
  }
}

.bg-image {
  width: 100%;
  height: auto;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
}

@media (min-width: 40em) {
  .bg-image {
    display: none;
  }
}

.headingLogo {
  padding: 1.7rem 0 0 1.7rem;
  width: 40%;
  height: auto;
}

@media (min-width: 40em) {
  .headingLogo {
    width: 20%;
    padding: 3rem 0 0 3rem;
  }
}

.container {
  padding: 0 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.container .previewPicture {
  margin: 0 auto;
  padding-top: 1.7rem;
  width: 90%;
  height: auto;
}

@media (min-width: 40em) {
  .container .previewPicture {
    width: 100%;
    padding: 3rem 0 0 3rem;
  }
}

@media (min-width: 87.5em) {
  .container .previewPicture {
    width: 50%;
  }
}

.container .body {
  padding: 1rem;
  color: white;
  text-align: center;
}

@media (min-width: 64em) {
  .container .body {
    text-align: left;
    padding: 0 5rem 0 2rem;
    max-width: 50%;
  }
}

.container .body .heading {
  margin-top: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}

@media (min-width: 64em) {
  .container .body .heading {
    font-size: 45px;
  }
}

.container .body p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

@media (min-width: 64em) {
  .container .body p {
    font-size: 18px;
  }
}

.container .body .btn {
  cursor: pointer;
  margin-top: 0.6rem;
  border: none;
  background: white;
  color: #674baf;
  border-radius: 40px;
  width: 75%;
  height: 40px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
  -webkit-box-shadow: 0px 6px 8px -3px rgba(48, 48, 48, 0.75);
  box-shadow: 0px 6px 8px -3px rgba(48, 48, 48, 0.75);
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.container .body .btn:hover {
  background-color: #e882e8;
}

@media (min-width: 40em) {
  .container .body .btn {
    width: 30%;
  }
}

.container .body .icons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  font-size: 2rem;
}

@media (min-width: 40em) {
  .container .body .icons {
    position: absolute;
    bottom: 1rem;
    right: 5rem;
    font-size: 2.5rem;
  }
}

.container .body .icons .icon {
  margin: 0 10px 0 0;
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}

.container .body .icons .icon:hover {
  color: #e882e8;
}
